<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="navbar navbar-default">
      <div class="container-fluid" id="nav-fluid">
        <div class="navbar-text pull-left">
          <p>
            Copyright
            <span
              class="glyphicon glyphicon-copyright-mark"
              aria-hidden="true"
            ></span>
            <a href="http://www.vanpallethout.nl">Van Pallethout</a>
          </p>
        </div>
        <div class="navbar-text pull-right">
          <a href="https://www.facebook.com/vanpallethout/"
            ><i class="fa fa-facebook-square fa-2x"></i
          ></a>
          <a href="https://www.instagram.com/vanpallethout/"
            ><i class="fa fa-instagram fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
