{% extends "main/base.html" %}
{% load static %}

{% block title%}Home – van Pallethout{% endblock %}

{% block banner %}
<div class="container-lg" id="banner">
  <div class="row">
    <div class="col">
      <img class="float-start" src="{% static 'main/images/logo.gif' %}">
      <h1>Van Pallethout</h1>
      <h2>Meubels en Workshops</h2>
    </div>
  </div>
  <div class="row">
    <i class="bi bi-chevron-double-down"></i>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <h3>Wie ben ik?</h3>
  <div class="col-sm-12 col-md-7">
    <p class="lead">Joop de Wit, geboren in 1962 te Bergschenhoek. Vanaf mijn kinderjaren was ik in mijn vrije tijd vrijwel altijd bezig met hout, hamer, zaag, en beitel. Ik bouwde hutten, karren, konijnenhokken, boekenplanken, stoelen, werkbanken, noem maar op.
      Dat is gebleven: gek op hout; materiaal rechtstreeks uit de natuur, veelsoortig, met unieke kwaliteiten en uitstralingen. <p>Van huis uit ben ik gewend om zorgvuldig om te gaan met de grondstoffen die de mensheid tot haar beschikking heeft. Mijn ouders gingen hun 10 kinderen voor in eindeloos zelf repareren en hergebruik.
      Weggooien kon altijd nog...</p>
    <p>Zorg is een belangrijk begrip in mijn leven. Diploma's haalde ik in de A-verpleging, Intensive Care-verpleging, HBO-management en middenstand. Ik werkte lange tijd als IC verpleegkundige en later als manager in de verstandelijk gehandicaptensector. Momenteel werk ik als  coördinerend begeleider op <a href="http://www.fraam.nl/">Boerderij FRAAM</a> te Middelstum.
      Ik vind het van groot belang dat mensen met een beperking zichtbaar en nodig zijn in de samenleving.
      Dat is mogelijk door hen een passende baan te bieden. Samenwerken met ondernemers en goede voorbereiding kunnen daar een aanzienlijke bijdrage aan leveren.
      Met mijn bedrijf Van Pallethout wil ik een bijdrage leveren aan passend en zinvol werk.
    </p>
  </div>
  <div class="col-sm-12 col-md-5">
    <img src="{% static 'main/images/joop1.jpg' %}" class="img-fluid" alt="Joop de Wit'">
  </div>
</div>
<div class="row mb-5">
  <div>
    <h3> Wat is Van Pallethout?</h3>
    <p>
      Van Pallethout wil het hout van afgedankte pallets opnieuw gebruiken uit respect voor grondstoffen en vanwege de eigen uitstraling. Elk stuk hout  wordt in de werkplaats zorgvuldig gecontroleerd en geselecteerd.
      Sinds enkele jaren werkt VAN PALLETHOUT samen met  <a class="link" href="http://www.cliqoslabel.com/">Jan Willem Henssen</a>, architect te Dieren. Hij heeft in samenwerking met VAN PALLETHOUT vijftien verschillende modellen palletmeubels ontworpen. Deze meubels kunnen zowel binnen als buiten gebruikt worden.
      Om te laten zien hoe leuk en makkelijk het is om iets duurzaams te maken van 'afval' geeft Van Pallethout <a class="link" href="{% url 'main:workshops' %}">workshops in het maken van deze meubels</a>!
      <br>
      Van Pallethout werkt samen met <a href="http://www.fraam.nl/">Boerderij FRAAM</a> in Middelstum. Op <a href="http://www.fraam.nl/">FRAAM</a> werken mensen met een beperking en zij leveren een belangrijke bijdrage aan de producten van VAN PALLETHOUT o.a. door zaag- en schuurwerk van het hout voor de palletmeubels. Verpakken en verzenden wordt ook door de medewerkers van <a href="http://www.fraam.nl/">Boerderij FRAAM</a> verzorgd. Op deze wijze wordt passend en zinvol werk gerealiseerd.
    </p>
  </div>
  <div>
    <h3>Vrienden van Van Pallethout</h3>
      <a href="http://www.cliqoslabel.com/">Cliquo's label</a>
      <a href="http://www.fraam.nl/">Boerderij Fraam</a>
      <a href="http://www.onemotion.nl/workshops/">One Motion: Creatieve workshops</a>
  </div>
</div>

<div class="row">
  <div>
    <h3>Meubels maken van pallethout</h3>
    <ul>
          <li>U krijgt uw  eigen meubel mee naar huis.</li>
          <li>U kunt kiezen uit de modellen <a href="{% url 'products:index' %}">&quot;Lazy Chair&quot;, &quot;Sit Straight&quot; &amp; &quot;Bench&quot;.</a></li>
          <li>Elke vrijdagmiddag (van 13:00 tot 17:00 uur) en op zaterdag 4 uur ('sochtends of 's middags).</li>
          <li>Ontwerp is van <a href="http://www.cliqoslabel.com/">Jan Willem Henssen</a>, architect te Dieren.</li>
          <li>Het hout voor de workshop is op maat gemaakt door medewerkers van <a href="http://www.fraam.nl">(zorg)Boerderij Fraam</a>.</li>
          <li>4 tot 6 personen</li>
          <li>&euro;95,- per persoon all-in.</li>
          <li>Voor reserveringen kunt u <a href="{% url 'main:contact' %}">bellen of mailen</a></li>
          <li>Kijk voor een impressie in het <a href="{% url 'gallery:index' %}">fotoalbum!</a> (Het laden van de foto's kan even duren)</li>
    </ul>
  </div>
  <div>
    <h3>Bloembakken maken van pallethout</h3>
    <ul>
      <li>U krijgt uw  eigen bloembak mee naar huis.</li>
      <li>Maten van de bloembak in overleg</li>
      <li>Elke vrijdagmiddag (van 13:00 tot 15:30 uur) en op zaterdag 2,5 uur ('sochtends of 's middags).</li>
      <li>Eigen ontwerp</li>
      <li>Het hout voor de workshop is op maat gemaakt door medewerkers van <a href="http://www.fraam.nl">(zorg)Boerderij Fraam</a>.</li>
      <li>4 tot 6 personen</li>
      <li>&euro;45- per persoon all-in.</li>
      <li>Voor reserveringen kunt u <a href="{% url 'main:contact' %}">bellen of mailen</a></li>
    </ul>
  </div>
  <div>
    <h3>Designstoel maken</h3>
    <ul>
      <li>U krijgt uw  eigen meubel mee naar huis.</li>
      <li>De stoel kan van hergebruikt pallethout of van nieuw vurenhout gemaakt worden.</li>
      <li>Elke vrijdagmiddag (van 13:00 tot 17:00 uur) en op zaterdag 4 uur ('sochtends of 's middags).</li>
      <li>De stoel genaamd 'Sedia 1' is een DIY-ontwerp van een bekende Italiaanse ontwerper.</li>
      <li>Het hout voor de workshop is op maat gemaakt door medewerkers van <a href="http://www.fraam.nl">(zorg)Boerderij Fraam</a>.</li>
      <li>4 tot 6 personen.</li>
      <li>&euro;95,- per persoon all-in.</li>
      <li>Voor reserveringen kunt u <a href="{% url 'main:contact' %}">bellen of mailen</a></li>
      <li>Kijk voor een impressie van de stoel in het <a href="{% url 'gallery:index' %}">fotoalbum!</a></li>
    </ul>
  </div>
</div>
{% endblock %}
