{% extends "main/base.html" %}

{% block title%}Info – van Pallethout{% endblock %}

{% block content %}
<div>
  <h3>Wie ben ik?</h3>
  <p>Joop de Wit, geboren in 1962 te Bergschenhoek. Vanaf mijn kinderjaren was ik in mijn vrije tijd vrijwel altijd bezig met hout, hamer, zaag, en beitel. Ik bouwde hutten, karren, konijnenhokken, boekenplanken, stoelen, werkbanken, noem maar op.
    Dat is gebleven: gek op hout; materiaal rechtstreeks uit de natuur, veelsoortig, met unieke kwaliteiten en uitstralingen. Van huis uit ben ik gewend om zorgvuldig om te gaan met de grondstoffen die de mensheid tot haar beschikking heeft. Mijn ouders gingen hun 10 kinderen voor in eindeloos zelf repareren en hergebruik.
    Weggooien kon altijd nog...</p>
  <p>Zorg is een belangrijk begrip in mijn leven. Diploma's haalde ik in de A-verpleging, Intensive Care-verpleging, HBO-management en middenstand. Ik werkte lange tijd als IC verpleegkundige en later als manager in de verstandelijk gehandicaptensector. Momenteel werk ik als  coördinerend begeleider op <a href="http://www.fraam.nl/">Boerderij FRAAM</a> te Middelstum.
    Ik vind het van groot belang dat mensen met een beperking zichtbaar en nodig zijn in de samenleving.
    Dat is mogelijk door hen een passende baan te bieden. Samenwerken met ondernemers en goede voorbereiding kunnen daar een aanzienlijke bijdrage aan leveren.
    Met mijn bedrijf Van Pallethout wil ik een bijdrage leveren aan passend en zinvol werk.
  </p>
</div>
<div>
  <h3> Wat is Van Pallethout?</h3>
  <p>
    Van Pallethout wil het hout van afgedankte pallets opnieuw gebruiken uit respect voor grondstoffen en vanwege de eigen uitstraling. Elk stuk hout  wordt in de werkplaats zorgvuldig gecontroleerd en geselecteerd.
    Sinds enkele jaren werkt VAN PALLETHOUT samen met  <a class="link" href="http://www.cliqoslabel.com/">Jan Willem Henssen</a>, architect te Dieren. Hij heeft in samenwerking met VAN PALLETHOUT vijftien verschillende modellen palletmeubels ontworpen. Deze meubels kunnen zowel binnen als buiten gebruikt worden.
    Om te laten zien hoe leuk en makkelijk het is om iets duurzaams te maken van 'afval' geeft Van Pallethout <a class="link" href="{% url 'main:workshops' %}">workshops in het maken van deze meubels</a>!
    <br>
    Van Pallethout werkt samen met <a href="http://www.fraam.nl/">Boerderij FRAAM</a> in Middelstum. Op <a href="http://www.fraam.nl/">FRAAM</a> werken mensen met een beperking en zij leveren een belangrijke bijdrage aan de producten van VAN PALLETHOUT o.a. door zaag- en schuurwerk van het hout voor de palletmeubels. Verpakken en verzenden wordt ook door de medewerkers van <a href="http://www.fraam.nl/">Boerderij FRAAM</a> verzorgd. Op deze wijze wordt passend en zinvol werk gerealiseerd.
  </p>
</div>
<div>
  <h3>Vrienden van Van Pallethout</h3>
    <a href="http://www.cliqoslabel.com/">Cliquo's label</a>
    <a href="http://www.fraam.nl/">Boerderij Fraam</a>
    <a href="http://www.onemotion.nl/workshops/">One Motion: Creatieve workshops</a>
</div>
{% endblock %}
