{% extends "main/base.html" %}

{% block title%}Workshops – van Pallethout{% endblock %}

{% block content %}
<div>
  <h3>Meubels maken van pallethout</h3>
  <ul>
    <li>U krijgt uw  eigen meubel mee naar huis.</li>
    <li>U kunt kiezen uit de modellen <a href="{% url 'products:index' %}">&quot;Lazy Chair&quot;, &quot;Sit Straight&quot; &amp; &quot;Bench&quot;.</a></li>
    <li>Elke vrijdagmiddag (van 13:00 tot 17:00 uur) en op zaterdag 4 uur ('sochtends of 's middags).</li>
    <li>Ontwerp is van <a href="http://www.cliqoslabel.com/">Jan Willem Henssen</a>, architect te Dieren.</li>
    <li>Het hout voor de workshop is op maat gemaakt door medewerkers van <a href="http://www.fraam.nl">(zorg)Boerderij Fraam</a>.</li>
    <li>4 tot 6 personen</li>
    <li>&euro;95,- per persoon all-in.</li>
    <li>Voor reserveringen kunt u <a href="{% url 'main:contact' %}">bellen of mailen</a></li>
    <li>Kijk voor een impressie in het <a href="{% url 'gallery:index' %}">fotoalbum!</a> (Het laden van de foto's kan even duren)</li>
  </ul>
</div>
<div>
  <h3>Bloembakken maken van pallethout</h3>
  <ul>
    <li>U krijgt uw  eigen bloembak mee naar huis.</li>
    <li>Maten van de bloembak in overleg</li>
    <li>Elke vrijdagmiddag (van 13:00 tot 15:30 uur) en op zaterdag 2,5 uur ('sochtends of 's middags).</li>
    <li>Eigen ontwerp</li>
    <li>Het hout voor de workshop is op maat gemaakt door medewerkers van <a href="http://www.fraam.nl">(zorg)Boerderij Fraam</a>.</li>
    <li>4 tot 6 personen</li>
    <li>&euro;45- per persoon all-in.</li>
    <li>Voor reserveringen kunt u <a href="{% url 'main:contact' %}">bellen of mailen</a></li>
  </ul>
</div>
<div>
  <h3>Designstoel maken</h3>
  <ul>
    <li>U krijgt uw  eigen meubel mee naar huis.</li>
    <li>De stoel kan van hergebruikt pallethout of van nieuw vurenhout gemaakt worden.</li>
    <li>Elke vrijdagmiddag (van 13:00 tot 17:00 uur) en op zaterdag 4 uur ('sochtends of 's middags).</li>
    <li>De stoel genaamd 'Sedia 1' is een DIY-ontwerp van een bekende Italiaanse ontwerper.</li>
    <li>Het hout voor de workshop is op maat gemaakt door medewerkers van <a href="http://www.fraam.nl">(zorg)Boerderij Fraam</a>.</li>
    <li>4 tot 6 personen.</li>
    <li>&euro;95,- per persoon all-in.</li>
    <li>Voor reserveringen kunt u <a href="{% url 'main:contact' %}">bellen of mailen</a></li>
    <li>Kijk voor een impressie van de stoel in het <a href="{% url 'gallery:index' %}">fotoalbum!</a></li>
  </ul>
</div>

{% endblock %}
