{% extends '_site_base.html' %}

{% block content %}
<div class="bg container-fluid mb-5 p-5 d-flex align-items-end justify-content-evenly" style="
            background-image: url('media/images/library/DSC_6423.jpg');
            background-size: cover;
            background-position: center;
            min-height: 600px;
            max-height: 100vh;
            ">
    <div class="text-light flex-fill">
        <h1 class="display-1 fw-bold">VAN PALLETHOUT</h1>
        <p class="col-md-8 fs-4">Duurzaam design</p>
        <div class="gap-2 d-md-flex justify-content-md-end">
            <a href="#" role="button" class="btn btn-lg btn-outline-light">Workshops</a>
            <a href="#" class="btn btn-secondary btn-lg" type="button">Meubels</a>
        </div>
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="row align-items-center justify-content-evenly">
        <div class="col-xs-10 col-sm-10 col-md-4">
            <img src="\media\images\library\DSM_ZwolleDSC_3595.jpg"
                class="img-fluid rounded-circle object-fit-cover" style="aspect-ratio: 1 / 1;">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-4">
        <div class="text-secondary">
            <h1>Joop de Wit</h1>
            <p>Eu est adipisicing commodo fugiat. Aute irure elit eu aute velit. Sint id Lorem elit anim voluptate aute
                ipsum officia consectetur exercitation laboris laboris. Ad mollit officia nostrud Lorem aute. Et non ex
                eiusmod veniam.</p>
        </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5 d-flex justify-content-between" style="
            background-image: url('media/images/lazychair.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right bottom;
            min-height: 400px;
            max-height: 100vh;
            ">
</div>
{% endblock %}