body {
    background: white;
}

#banner {
    background: white url('images/banner.jpg') no-repeat;
    background-position: center top;
    height: 100vh;
}

#banner img {
    max-width: 150px;
    height: auto;
    margin-right: 32px;
}

#banner h1 {
    margin-top: 16px;
}

#banner i {
    font-size: 2em;
    color: LightGray;
    opacity: 40%;
    text-align: center;
    margin-top: 60vh;
}

#footer {
    text-align: center;
    color: Gray;
    font-size: 11px;
}

#footer a {
    text-decoration: none;
    color: Gray;
}

#footer a i {
    font-size: 16px;
}
